body {
  background-image: linear-gradient(to bottom, #434343 65%, black 100%);
  overflow: hidden; /* Evita barras de rolagem desnecessárias */
  height: 100vh;
}

canvas {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Certifique-se que está acima do fundo */
    pointer-events: none; /* Evita interferência com cliques */
}
